@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Jost:wght@300;400;500&display=swap');

.fontnamefamily{
    font-family: "Barlow, sans-serif"
}

.header{
    background-color: #0A2E34;
    color: #EBF3EE;
    height: 68px;
    padding-left:45px !important;
}
.header-logo{
    width: 168px;
    padding-top: 7px;
}
.profile-text{
    color:#0A2E34;
    margin: 2px;
}

.profile-text:hover{
    color:white;
    background-color: #0A2E34;
}
.sidebar_content{
    background-color: #ebf3ee;
    color: #0A2E34;
}

.content{
    background-color: #f8f8f8;
    color: #0A2E34;
}

.nav-link.active{
    background-color: #0A2E34 !important;
    color: #EBF3EE !important;
}
.nav-link{
    color: #0A2E34;
}